@media (max-width: 801px) {
.App__container__inner {
    padding-bottom: 1px;
    padding-top: 3px;
}

.container__header {
    width: 94.5%;
}
    
    /* ------------------------------ HomePage ------------------------------ */
.homepage__logo {
    background-size: 135% 100%;
    background-position: -50px;
    margin-top: calc(100% - 108%);     
    background-image: linear-gradient(to right, rgba(238, 238, 238, 0) 36%, rgb(169, 2, 2) 50%, rgb(169, 2, 2) 50%, rgb(169, 2, 2) 40%),
    url("../../public/imgs/Снимок экрана 2022-11-02 1847161.png");  
}
    
.homepage__logo__img {
    height: 90px;
} 
    
.homepage__logo__info {
    display: none;
}

.homepage__toTree,
.homepage__toBlog {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.homepage__toBlog {
    flex-direction: column;
}

.homepage__toTree__box,
.homepage__toBlog__box {
    width: 100%;
}

.timer__title {
    font-size: 32px;
}
    /* ------------------------------ AboutUs ------------------------------ */
.aboutus__box__title,
.aboutus__box2__title {
    font-size: 22px;
    letter-spacing: 2px;
}

.aboutus__box__info,
.aboutus__box2__info {    
    font-size: 16px;
}

.aboutus__box2__info {    
    margin: 0px;
}

.aboutus__box__img {
    height: 380px;
}

.img2 {
    display: none;
}    

    /* ------------------------------ Blog ------------------------------ */ 
.blog__item {
padding: 25px 5px;
}

    /* ------------------------------ Post ------------------------------ */
.post__title {
    font-size: 24px;
}

.post__info {
    padding-left: 10px;
    gap: 30px;
    flex-direction: column-reverse;
    justify-content: space-evenly;
}

.post__imgs {
    flex-direction: row;
    gap: 10%;
}

.post__img {
    height: 270px;
    width: 220px;
    margin-bottom: 0px;
}

.post__img:nth-child(odd),
.post__img:nth-child(even) {
    transform: rotate(0deg);
}

.category__btn {
    font-size: 12px;
}

    /* ------------------------------ ProductCards ------------------------------ */
.product__card {
    min-width: 33%;
}
    
.product__card__image {
    width: 290px;
}
    
.product__card__image .image {
    height: 330px;
}

.product__card__title {
    font-size: 14px;
}

.product__card__details {
    width: 92.5%;
}
    /* ------------------------------ Product ------------------------------ */
.product__wrapper {
    gap: 7%;
    padding: 30px 10px;
}
    
.product__imgs {
    flex-direction: column;
}
    
.product__img {
    width: 250px;
}

.product__description {
    font-size: 18px;
}
    /* ------------------------------ Cart ------------------------------ */
.cart__container {
    flex-direction: column;
    margin: 0px;
}    

.cart__item {
    width: 100%;   
}
    
.cart__item__info {
    font-size: 11px;
}

.cart__total__info {
    padding-top: 35px;
    width: 100%;
    height: 150px;
    text-align: left;
}

.cart__total__title {
    font-size: 22px;
}

.cart__total__btn {
    width: 100%;
}
    /* ------------------------------ Modal ------------------------------ */    
.modal__wrapper {
    height: 50%;
    width: 65%;
}

.modal__text {
    text-align: center;
}
}