* {
    padding: 0;
    margin: 0;
}

.App {
    padding-top: 30px;
    background-image: linear-gradient(rgba(200, 3, 3, 0.65), rgba(200, 3, 3, 0.65)),
    url("../../public/imgs/104240-red-stripes-pattern.jpg");    
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    font-family: NewBaskerville,"Times New Roman",serif;
    letter-spacing: .8px;
}

.link_white {
    color: white;
}

.link_white:hover {
    color: white;
}

.link_black {
    color: black;
}

.link_black:hover {
    color: black;
}

.underline {
    text-decoration: underline;
}

.underline:hover{
    text-decoration: 1.5px underline;
}

.App__container__outer {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 4px solid white;

    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.App__container__inner {
    border-radius: 15px;
    background-color: rgb(169, 2, 2);

    margin: 30px 23px;
    padding-bottom: 1px;
}

.container {
    border-radius: 15px;
    background-color: white;
    margin: -50px 10px 10px 10px;
    padding: 50px 30px 35px 30px;
    min-height: 500px;
}

.container__header {
    width: 96.5%;
    margin: 0 auto;
}

.header__wrapper {    
    display: flex;
    justify-content: space-between;
}

.header__nav__links {
    display: flex;
    gap: 15px;
}

.header__nav__link {
    font-family: "Lato",sans-serif;;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 15px;
    border: 2.5px solid white;
    margin-top: -12px;
    background: linear-gradient(rgb(216, 215, 215), white);
    letter-spacing: 2px;
}

.header__nav__link:hover {
    color: black;
    background: lightgray;
}

.header__img {
    height: 35px;
}

.cartCount {
    font-size: 10px;
    border-bottom: 1px solid rgb(169, 2, 2);
    border-top: 1px solid rgb(169, 2, 2);
    border-radius: 10px;
    padding: 2px 6px;
    background-color: white;
    text-align: center;
}

.container__title {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    font-size: 50px;
}

/* ------------------------------ Footer ------------------------------ */
footer {
    margin-top: auto;
    background-color: rgb(80, 80, 80);
    padding-top: 10px;
}

.container__footer {
    display: flex;
    gap: 2%;
    justify-content: center;
}

.footer__info {
    display: flex;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    gap: 100px;
    padding: 20px;
}

.footer__aboutus__img {
    height: 25px;
    margin-right: 20px;
}

.footer__text {
    text-transform: uppercase;
    color: white;
}

.footer__link {
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;
}

.footer__link:hover {
    color: lightgray;
}

.container__footer__copyright {
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
}

/* ------------------------------ HomePage ------------------------------ */
.homepage__logo {
    margin-top: calc(100% - 104.5%);
    height: 425px;
    background-image: linear-gradient(to right, rgba(238, 238, 238, 0) 40%, rgb(169, 2, 2) 65%, rgb(169, 2, 2) 50%, rgb(169, 2, 2) 40%),
    url("../../public/imgs/Снимок экрана 2022-11-02 184716.png");  
    background-repeat: round;
    background-size: contain; 
    border-radius: 15px 15px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage__logo__box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: flex-end;
    margin-top: 20px;
}

.homepage__logo__img {
    height: 130px;
} 

.homepage__logo__info,
.homepage__toTree__info,
.homepage__toBlog__info {
    color: white;
    font-size: 14px;
    font-weight: lighter; 
    text-align: center;
}

.homepage__logo__explore_btn,
.homepage__toTree__btn,
.homepage__toBlog__btn {
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 15px;
    border: 1.5px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(211, 211, 211, 0.5);
}

.homepage__divider {
    height: 30px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -3px;
    border: 2.5px solid white;
    border-radius: 15px;
    background-image: url("../../public/imgs/381650_candy-cane-backgrounds_2100x2100_h.png"); 
    background-size: cover;    
}

.homepage__toTree,
.homepage__toBlog {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.homepage__toTree__box,
.homepage__toBlog__box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage__toTree__title,
.homepage__toBlog__title {
    color: white;
    font-size: 34px;
    font-weight: normal;
    letter-spacing: 3px;
}

.homepage__toTree__img,
.homepage__toBlog__img {
    height: 450px;
}

/* ------------------------------ Blog ------------------------------ */
.blog__info {
    font-size: 18px;
    text-align: justify;
    padding: 20px 30px;
}

.blog__item {
    font-size: 18px;
    padding: 25px 30px;
    cursor: pointer;
    border-bottom: 1px dashed rgb(169, 2, 2);
    display: flex;
    align-items: center;
    gap: 35px;
}

.blog__item:nth-child(odd) {
    flex-direction: row-reverse;
}

.blog__item:hover {
    background-color: #f1f1f1;
}

.blog__item__image {
    height: 170px;
    min-width: 260px;
}

.blog__item__title {
    color: rgb(169, 2, 2);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
}

.blog__item__info {
    font-size: 16px;
    text-align: justify;
}

/* ------------------------------ Post ------------------------------ */
.post__title {
    color: rgb(169, 2, 2);
    font-size: 22px;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
}

.goBack {
    padding: 8px 12px;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    margin: 20px 0px;
}

.post__info {
    padding-left: 50px;
    padding-right: 30px;
    display: flex;
    gap: 70px;
    align-items: center;
    min-height: 770px;
}

.post__imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post__img {
    height: 270px;
    margin-bottom: 20px;
}

.post__img:nth-child(odd) {
    transform: rotate(348deg);
}
.post__img:nth-child(even) {
    transform: rotate(12deg);
}

.post__content {
    text-align: justify;
    font-size: 18px;
}

/* ------------------------------ Catalog ------------------------------ */
.catalog__cantainer {    
    display: flex;
    flex-direction: column;
}

.catalog__info {    
    font-size: 18px;
    text-align: justify;
    padding: 20px 30px;
}

.category__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 0px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.category__btn {
    font-family: "Lato",sans-serif;;
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.category__btn:hover {
    background-color: transparent;
    color: rgb(169, 2, 2);
    border-bottom: 1px solid rgb(169, 2, 2);
}

/* ------------------------------ ProductCards ------------------------------ */
.product__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 5%;
}

.product__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    gap: 5px;
    margin-bottom: 50px;
}

.product__card__image {
    width: 250px;
    text-align: center;
}

.product__card__title {
    font-family: "Lato",sans-serif;
    font-size: 15px;
    color: black;
}

.product__card__title:hover {
    color: black;
}

.product__card__image .image {
    height: 200px;
}

.product__card__details {
    display: flex;
    justify-content: space-between;
}

.product__card__btn {    
    height: 20px;
    cursor: pointer;
}

/* ------------------------------ Product ------------------------------ */
.product__wrapper {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 15%;
}

.product__img {
    width: 320px;
    height: 100%;
}

.product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product__title {
    font-size: 26px;
    letter-spacing: 2px;
}

.product__description {
    text-align: justify;
    font-size: 16px;
}

.product__addBtn {
    padding: 10px;
    background-color: transparent;
    border-radius: 15px;
    border: 1.5px solid black;
    letter-spacing: 2px;
    font-size: 16px;
}

/* ------------------------------ Loader ------------------------------ */
.loader {
    padding: 150px;
    text-align: center;
}

/* ------------------------------ Cart ------------------------------ */
.cart__title {
    margin-top: 20px;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.cart__titleEmpty {
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 50px;
}

.cart__container {
    display: flex;
    justify-content: space-around;
    margin: 0px 50px;
}

.cart__items {
    display: flex;
    flex-direction: column;
}

.cart__item {
    border: 1.5px solid rgba(169, 2, 2, 0.5);
    margin-bottom: 18px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    min-width: 800px;
    
}

.cart__item__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    flex-grow: 1;
}

.cart__item__img {
    height: 110px;
}

.cart__item__title {
    font-weight: normal;
}

.cart__item__price {
    font-weight: bold;
}

.cart__total__info {
    background-color: #f1f1f1;
    width: 25%;
    height: 400px;
    padding: 15px;
    text-align: center;
}

.cart__total__title {
    font-size: 28px;
}

.cart__item__del {
    height: 20px;
    cursor: pointer;
}

.cart__total__btn {    
    padding: 8px 13px;
    background-color: transparent;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    border: 1px solid black;
}

/* ------------------------------ Modal ------------------------------ */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__wrapper {
    background-image: url("../../public/imgs/cute-handmade-merry-christmas-card-with-christmas-leaves_1361-3979.jpg");  
    background-size: 100% 100%;
    padding: 120px;
    width: 650px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.modal__btn_close {
    padding: 8px;
    width: 70%;
    margin-top: 20px;
    background-color: transparent;
    border-radius: 15px;
    font-size: 10px;
    letter-spacing: 2px;
    border: 1px solid black;    
    text-transform: uppercase;
    align-self: center;
}

.modal__btn_close:hover {
    background-color: rgba(19, 78, 1, 0.2);
}

.modal__text {    
    text-transform: uppercase;
}

/* ------------------------------ AboutUs ------------------------------ */

.aboutus__box,
.aboutus__box2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutus__box__title,
.aboutus__box2__title,
.aboutus__box3__info {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.container hr {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 1px;
    border: .5px solid rgb(169, 2, 2);
}

.aboutus__box__info,
.aboutus__box2__info {    
    font-size: 16px;
    text-align: justify;
}

.aboutus__box__info {
    margin-left: 40px;
}

.aboutus__box2__info {
    margin-right: 40px;
}

.aboutus__box__img {
    height: 420px;
}

.aboutus__box3 {
    display: flex;
    gap: 50px;
}

.aboutus__box3__img {
    height: 45px;
}

/* ------------------------------ Contacts ------------------------------ */
.contacts__title {
    font-weight: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.contacts__box__title {
    font-weight: normal;
    letter-spacing: 1px;
}

.contacts__box__img {
    height: 185px;
}

.contacts__bcg {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)),  url("../../public/imgs/6239694.png");    
    background-repeat: no-repeat;
    background-size: 29% 88%;
    background-position: 99%;
}